openapi: "3.0.1"
info:
  title: User Skill Management
  description: API exposed by User Skill MGMT
  version: 1.0.0
servers:
  - url: https://user-skill-mgmt.k8.wildwidewest.xyz/
    description: Production server
  - url: https://user-skill-mgmt-dev.k8.wildwidewest.xyz/
    description: Development server
paths:
  /api/hello:
    get:
      operationId: sayHello
      x-vertx-event-bus: hello_service.usm
      parameters:
        - name: nom
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: The Hello message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hello'
  /api/version:
    get:
      operationId: getVersion
      x-vertx-event-bus: version_service.usm
      responses:
        200:
          description: Version of the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
  /api/skills:
    x-vertx-event-bus:
      address: skills_service.usm
      timeout: 2000
    get:
      operationId: getSkills
      summary: Get all known skills
      description: |
        Get all skills that have been added by Employees
      responses:
        200:
          description: List of skills of a Employee
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Skill'
    post:
      operationId: postSkill
      summary: Add a new skill
      description: |
        Add a new skill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
      responses:
        201:
          description: The new skill was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        400:
          description: An error occure during the creation of the skill
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/employees/{employeeId}:
    x-vertx-event-bus:
      address: employees_service.usm
      timeout: 2000
    parameters:
      - name: employeeId
        in: path
        required: true
        schema:
          type: string
    get:
      operationId: getEmployeeById
      summary: Get one employee by Id
      description: Get the employee that ahs the same id as the path parameter
      responses:
        200:
          description: Get the information from the employee
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        404:
          description: The employee doesn't exists
          content:
            application/json:
              schema:
                type: string
components:
  schemas:
    Skill:
      type: object
      required:
        - label
        - skillType
      properties:
        id:
          type: number
          description: id of the Skill
        label:
          type: string
          description: Skill label
        skillType:
          type: string
          description: Type of skill
      example:
        id: 1
        label: 'Java'
        skillType: 'Back'
    Error:
      type: object
      required:
        - code
        - label
      properties:
        code:
          type: string
          description: A unique code that define the error
        label:
          type: string
          description: Label of the error
      example:
        code: 'USM001'
        label: 'Skill already exits.'
    Hello:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: The hello message
      example:
        message: 'Hello World'
    Version:
      type: object
      required:
        - version
      properties:
        message:
          type: string
          description: The API version
      example:
        message: 'v1.0'
    Employee:
      type: object
      required:
        - id
        - skills
      properties:
        id:
          type: number
          description: id of the Employee
        skills:
          type: array
          description: list of skills of the Employee
      example: 'id : 1, skills: []'